<h1>Dashboard</h1>

<%= form_tag(dashboard_index_path, method: "get") do %>
  <%= text_field_tag(:search_term,params[:search_term]) %>
  <%= submit_tag("Search") %>
<% end %>
<iframe src="https://embed.spotify.com/?uri=spotify:track:<%= @result %>" width="600" height="600" frameborder="0" allowtransparency="true">
</iframe>
