<div class="search">
  <%= submit_tag("Search",class:"submit") %>
  <%= text_field_tag(:search_term,params[:search_term],class:"input") %>
</div>
<p>Balance:
<div id="balance">
</div>
</p>
<div class="streamer">
  <div class="song_list">
  </div>
  <div class="play_div">
    <audio class='player' controls>
      <source class="source" src="https://p.scdn.co/mp3-preview/9ee203e7e8f7faa67ea7b1f48e58acdcdb326249" type="audio/ogg">
    </audio>
  </div>
</div>
